<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />

  <link rel="stylesheet" href="css/StilosAlcar.css" />
  <!-- google   fonts - stilos de letras -->
  <link href="https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600&display=swap" rel="stylesheet" />
</head>

<body >
  <div id="app">
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
      <a class="navbar-brand" href="#">Guarda Personas</a>
      <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
          aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="#">Nombre <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Edad</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Otros</a>
            <div class="dropdown-menu" aria-labelledby="dropdownId">
              <a class="dropdown-item" href="#">Otros 1</a>
              <a class="dropdown-item" href="#">Otros 2</a>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Buscar persona" v-model="buscaNombrePersona" @keyup.enter="buscarNombre">
          <button class="btn btn-outline-danger my-2 my-sm-0" type="button" @click="buscarNombre" >Buscar</button>
        </form>
      </div>
    </nav>

    <div class="container mt-3" >
      <div class="row">
        <div class="col-12">
          <h2>Ingrese una nueva persona</h2>
        </div>
      </div>
      <div class="row mt-1">
        <div class="col-3">
          <input name="" id="" class="form-control mr-2 " type="text" placeholder="Nombre" v-model="nombrePersona" @keyup.enter="guardarPersona">
        </div>
        <div class="col-3">
          <input name="" id="" class="form-control mr-2" type="text" placeholder="Edad" v-model="edadPersona" @keyup.enter="guardarPersona">
        </div>
        <div class="col-3">
          <input name="" id="" class="form-control mr-2" type="text" placeholder="Estatura" v-model="estaturaPersona" @keyup.enter="guardarPersona">
        </div>
        <div class="col-3">   
          <button type="button" class="btn btn-dark" @click="guardarPersona">Guardar</button></div>
      </div>
      <div class="row">
        <div class="col-12 ">
          <table class="table table-secondary mt-4">
            <thead class="table-dark text-white">
              <tr>
                <th>Nombre</th>
                <th>Edad</th>
                <th>Estatura</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="dato of persona">
                <td> <input type="text" v-model="dato.nombre" class="form-control"> </td>
                <td> {{dato.edad}} </td>
                <td> {{dato.estatura}} </td>
              </tr>
            </tbody>
          </table>
          <p>{{indicePersona}}</p>
        </div>
      </div>
    </div>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
  <script src="js/document.js"></script>
</body>

</html>